.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
  
 .card {
     flex: 0 1 24%;
     background-color: $primary;
     margin-bottom: 1em;
 }

 .card-content{
     padding: 1.4em;
     h2 {
        margin-bottom: .5em;
        font-style: italic;
        font-weight: 700;
        color: $textColorVariant;
     }
     p{
         font-size: 80%;
     }
     a{        
        color: $textColorVariant;
     }
 }