/* SCSS HEX */
$primary: #29b6f6;
$primary-light: #73e8ff;
$primary-dark: #0086c3;
$secondary: #7cb342;
$secondary-light: #aee571;
$secondary-dark: #4b830d;
$textColor: #000000;
$textColorVariant: #e3f2fd;
