@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,700&display=swap');



/* Configuration fonts */
* {
    font-family: 'Andika New Basic', sans-serif;
    color: $textColor;
}